@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.anim-button {
  background: none;
  border: 0;

  position: relative;
  vertical-align: middle;
}
.anim-button::before,
.anim-button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.25s;
}
.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}
.ant-drawer-body {
 
  padding: 0px !important;
 background-color: transparent !important;
}
.upsale-button {
  position: relative;
  z-index: 0;
  height: 40px;
  overflow: hidden;
  border: none !important;
  padding: 0 !important;
 
  color: #656565;
  background: white;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 4px 50px 0 rgb(0 0 0 / 7%);
  transition: .2s all linear;
  text-decoration: initial;
}
p {
  margin-top: 0;
  margin-bottom: 0em !important;
}
.upsale-button span{
  position: relative;
  z-index: 1;
  height: calc( 100% - 4px );
  width: calc( 100% - 4px );
  top: 2px;
  left: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  color: rgb(25, 0, 255);
  background: #ffffff;
}

.upsale-button:after{
 content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(90deg, rgba(255,255,255,0)    0%, rgb(238, 1, 1) 50%, rgba(255,255,255,0) 100%);
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}


@-webkit-keyframes rotate {
  100% {
      transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
      transform: rotate(360deg);
  }
}